.myprof {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding-top: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.myprof input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkmyprof {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dedede;
}

/* On mouse-over, add a grey background color */
.myprof:hover input~.checkmarkmyprof {
  background-color: #ccc;

}


/* When the checkbox is checked, add a blue background */
.myprof input:checked~.checkmarkmyprof {
  background-color: #ff7060;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkmyprof:after {
  content: "";
  position: absolute;
  display: none;
  padding-top: 8px;
  padding-left: 15px;
}

/* Show the checkmark when checked */
.myprof input:checked~.checkmarkmyprof:after {
  display: block;
}

/* Style the checkmark/indicator */
.myprof .checkmark:after {
  /* left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
}





.myprof1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  padding-top: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.myprof1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkmyprof1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.myprof1:hover input~.checkmarkmyprof1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.myprof1 input:checked~.checkmarkmyprof1 {
  background-color: #ff7060;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkmyprof1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.myprof1 input:checked~.checkmarkmyprof1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.myprof1 .checkmarkmyprof1:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

span.checkmarkmyprof1 {
  border: 1px #6c757d solid;
  height: 26px;
  margin-top: 6px;
}

span.checkmarkmyprof {
  width: 25px;
  height: 25px;
}

.span.checkmarkmyprof::after {
  left: 7px;
  opacity: 1;
}


span.checkmarkmyprof::after {
  content: "";
  opacity: 1;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(252deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
  transform: rotate3d(3, 7, 1, -172deg);
}