.font-size-14px {
  font-size: 14px;
}

.font-weight-400px {
  font-weight: 400;
}

.track-order-border-left-transparent {
  border-left: 1px transparent;
}

.track-order-border-left {
  border-left: 1px solid red;
}

.red-dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: relative;
  left: 5px;
}