.lnr {
  font-family: "linearicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: bold;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  font-size: 22px;
}